.navbar a{
    font-size: 20px;
    text-decoration: none;
    color: white;
    margin-left: 5vh;
}
.logo{
    color: white; position:fixed;margin:20px;font-size:20px;
}
.navbar{
    position:fixed;margin-left:150px;margin-top:25px;
}
.pic img{
    width:100%;position: fixed;s
}
.secbar a{
    position:absolute;
    margin:20px;
    margin-left:75%;
    text-decoration:dotted;
    color:#1f07f7;
    margin-top:25px;
}
.btn1{
    position: absolute;background-color: hsl(0, 78%, 57%);margin: 20px;margin-left:90%;border-radius:20px;font-size:10px;padding: 5px;
}
.text h1{
    position:fixed;color: white;margin-top:250px;margin-left: 75px;font-size: 75px;
}
.text p{
    position: fixed; color: white;margin-top:510px;margin-left: 75px;font-size: 30px;
}